<p style="border:3px; border-style:solid; border-color:#ac4142; padding: 1em;">For questions/concerns/bug reports contact <b>Debashish Reang</b> regarding the notes. 
Contacts via email would be preferable. You can also submit a pull request directly to our 
<a href="https://github.com/reangdeba/reangdeba.github.io/tree/master/notes/" target="_blank">git repo</a>.
In case you want to contribute to these notes, please contact me. I'd be happy to 
collaborate and your contribution would be acknowledged!</p>