<footer class="site-footer">
    <div class="container">
        <div class="row">
            <!-- <div class="col"> -->
            <div class="col-sm-4">

                    <h4 class="footer-brand"><a href="/">debashish</a></h4>
                    <a href="https://youtube.com/channel/UCc0hAFLO1vlv208es8Yt2TQ" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://twitter.com/reangdeba" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com/reangdeba_" target="_blank"><i class="fab fa-instagram"></i></a>

            </div>
            <div class="col-sm-8">
                <div class="footer-subscription">
                    <!-- <p>:email: Subscribe to my monthly newsletter</p> -->
                    <div id="mc_embed_signup">
                        <form action="https://xyz.us20.list-manage.com/subscribe/post?u=37ca0b030c51dbc41e13a912d&amp;id=86873aeb89" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
                            novalidate>
                            <div id="mc_embed_signup_scroll" class="input-group mb-3">
                                <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Your email address" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_37ca0b030c51dbc41e13a912d_86873aeb89" tabindex="-1" value=""></div>
                                <div class="clear input-group-append"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-outline-secondary"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- <hr class="mac">
                <div class="footer-social-icons">
                    <p>
                    <a href="https://twitter.com/reangdeba" class="social-media-icon" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.facebook.com/reangdeba/" class="social-media-icon" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/reangdeba_/" class="social-media-icon" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/reangdeba/" class="social-media-icon" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/reangdeba" class="social-media-icon" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.quora.com/profile/Debashish-Reang" class="social-media-icon" target="_blank"><i class="fab fa-quora"></i></a>
                    </p>
                </div> -->
            </div>
        </div>




        <!-- <div class="col col-lg-8 mac">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />Except where otherwise noted, content on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
        </div> -->
        <!-- <div class="col mac">
          <div class="row">
            <div class="col">
              <a class="logo" href="https://github.com/reangdeba" target="_blank"><img src="/assets/images/octocat_logo.png"></a>
            </div>
            <div class="col">
              <a class="logo" href="https://facebook.com/reangdeba" target="_blank"><img src="/assets/images/fb_logo.png"></a>
            </div>
            <div class="col">
              <a class="logo" href="https://instagram.com/reangbade" target="_blank"><img src="/assets/images/instagram_logo.png"></a>
            </div>
            <div class="col">
              <a class="logo" href="https://linkedin.com/in/reangdeba" target="_blank"><img
                  src="/assets/images/linkedin_logo.png"></a>
            </div>
            <div class="col">
              <a class="logo" href="mailto:reang.bade@gmailcom"><img
                  src="/assets/images/gmail_logo.png"></a>
            </div>
          </div>
          <div class="row">
              <div class="col">
                  <br>
                <code>reang@iitk.ac.in</code>
              </div>
          </div>
       </div> -->
    </div>
    <!-- </div> -->
</footer>
