<footer class="site-footer">

  <div class="wrap">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-1 column">
      <line>reang@iitk.ac.in</line>
    </div>

    <div class="footer-col-2 column">
      <div class="social-links">
        <a href="https://github.com/reangdeba/" target="_blank"><i class="fab fa-github"></i></a> &nbsp; <a href="https://twitter.com/reangdeba" target="_blank"><i class="fab fa-twitter"></i></a>
        &nbsp; <a href="https://www.linkedin.com/in/reangdeba/"  target="_blank"><i class="fab fa-linkedin"></i></a> &nbsp; <a href="{{ "/feed.xml" | relative_url }}"><i class="fas fa-rss"></i></a>
      </div>
    </div>

    <div class="footer-col-3 column">
      <line>{{ site.description }}</line>
    </div>
  </div>

</footer>
