<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="footer-brand"><a href="/">debashish</a></h4>
      </div>
      <div class="col text-right">
        <a href="https://youtube.com/channel/UCc0hAFLO1vlv208es8Yt2TQ" target="_blank"><i
            class="fab fa-youtube"></i></a>
        <a href="https://twitter.com/reangdeba" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com/reangdeba_" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>