<head>

<!-- for mobile responsiveness -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- title of the tabs, (not for Safari :P) -->
		<title>
      {% if page.title == "About" %}
        {{ site.title }}
      {% else %}
        {{ page.title }} &middot; reang
      {% endif %}
    </title>

<!-- Credits to anandchowdhary.com for the CSS -->
		<!-- <link rel="stylesheet" href="https://res.cloudinary.com/reangdeba/raw/upload/v1545551266/main.css"> -->
		<link rel="stylesheet" href="{{ site.baseurl }}public/css/main.css">
		<link rel="stylesheet" href="https://res.cloudinary.com/reangdeba/raw/upload/v1536969179/print.css" media="print">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- Icons -->
		<link rel="apple-touch-icon" sizes="180x180" href="https://res.cloudinary.com/reangdeba/image/upload/v1536930580/black-circle-mask-to-fill-compass-outline-2.png">
		<link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/reangdeba/image/upload/v1536930580/black-circle-mask-to-fill-compass-outline-2.png">
		<link rel="icon" type="image/png" sizes="194x194" href="https://res.cloudinary.com/reangdeba/image/upload/v1536930580/black-circle-mask-to-fill-compass-outline-2.png">
		<link rel="icon" type="image/png" sizes="192x192" href="https://res.cloudinary.com/reangdeba/image/upload/v1536930580/black-circle-mask-to-fill-compass-outline-2.png">
		<link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/reangdeba/image/upload/v1536930580/black-circle-mask-to-fill-compass-outline-2.png">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
