<!-- Navbar on top -->
<div id="masthead">
  <div class="container">
    <div><a class="logo" href="/"><img alt="logo" src="https://res.cloudinary.com/reangdeba/image/upload/v1536930580/black-circle-mask-to-fill-compass-outline-2.png">Debashish Reang</a></div>
    <nav>
      <ul>
        <li><a class="home-link" href="/">about</a></li>
        <li><a class="blog-link" href="/blog/index">blog</a></li>
        <li><a class="contact-link" href="/blog/list100">list 100</a></li>
        <li><a class="circle-link" href="/circle/index">circle</a></li>
        <li><a class="contact-link" href="/contact/index">contact</a></li>
      </ul>
    </nav>
  </div>
</div>
