<!-- Navbar on top -->
<div id="masthead">
  <div class="container">
    <div><a class="logo" href="/"><img alt="logo" src="https://res.cloudinary.com/reangdeba/image/upload/v1536930580/black-circle-mask-to-fill-compass-outline-2.png">Debashish Reang</a></div>
    <nav>
      <ul>
        <!-- <li><a class="home-link" href="/">About</a></li> -->
        <li><a class="home-link" href="/circle/research">Research</a></li>
        <li><a class="blog-link" href="/blog/index">Writings</a></li>
        <li><a class="circle-link" href="/circle/index">Circle</a></li>
        <li><a class="contact-link" href="/blog/list100">Wishes</a></li>
        <li><a class="contact-link" href="/contact/index">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
