<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cheatsheets</title>
    <meta name="viewport" content="width=device-width">
    <!-- Thanks to Shervine Amidi for these lines! -->
    <meta name="description" content="This is a work-in-progress by Reang to build easy-to-digest cheatsheets and notes for classes that I took at IIT Kanpur.
                I share all the content here so that anyone around the world can (hopefully) enjoy it!">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/png" sizes="194x194" href="/assets/images/iitklogo.png">

    <!-- Custom CSS Thanks to Andrej Karpathy!-->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

</head>