<div class="tagline">
  {% if page.layout == "blog" and page.title != "blog" and page.title != "category" and page.title != "tag" %}
    <p class="name"><i class="fa fa-user"></i> Debashish Reang</p>
  {% endif %}

  {% if page.date %}
  <p class="date"><i class="fa fa-calendar-alt"></i> {{ page.date | date_to_string }}
  </p>
  {% endif %}

  <p>
     {% for tag in page.tags %}
     <a href="/blog/tag/#{{ tag | slugify }}" class="codinfox-tag-mark"> <i class="fa fa-tags"></i> {{ tag }} </a>
     {% endfor %}
  </p>
  <p>
     {% for ct in page.category %}
     <a href="/blog/category/#{{ ct | slugify }}" class="codinfox-category-mark"> <i class="fa fa-folder-open"></i> {{ ct }} </a>
     {% endfor %}
  </p>
</div>
