---
layout: default
permalink: /blog/
title: Blog
thumbnail: "/assets/images/dp_alt.jpg"
---
<section class="content">
    <div class="container">
        <div class="post-container blogpost">
            <p>Subscribe <a href="/feed.xml">via RSS</a></p>
            <ul class="listing">
                {% for post in site.categories.posts %}
                {% unless post.draft %}
                {% capture currentdate %}{{post.date | date: "%Y"}}{% endcapture %}
                {% if currentdate != thedate %}
                <h1 class="rainbow footer-brand" style="color:#ac4142;">{{ currentdate }}</h1>
                {% capture thedate %}{{currentdate}}{% endcapture %}
                {% endif %}
                <li>
                    <div class="row">
                        <div class="col-sm-12">
                            <small class="date">{{ post.date | date: "%B %-d, %Y" }}</small><br>
                            <a href="{{ post.url }}" class="post-title">{{ post.title }}</a>
                            <p class="mac" style="margin-bottom: 0px;">{{ post.description }}</p>
                        </div>
                    </div>
                </li>
                {% endunless %}
                {% endfor %}
            </ul>
        </div>

    </div>


    <br /><br />
</section>