---
layout: default
permalink: /blog/
title: Blog
---
<section class="content">
    <div class="container-fluid">
        <div class="posts-container">
            <ul class="listing">
                {% for post in site.posts %}
                {% unless post.draft %}
                {% capture currentdate %}{{post.date | date: "%Y"}}{% endcapture %}
                {% if currentdate != thedate %}
                <h3 class="rainbow footer-brand">{{ currentdate }}</h3>
                {% capture thedate %}{{currentdate}}{% endcapture %}
                {% endif %}
                <li>
                    <!-- <span class="mac">{{ post.date | date: "%B %e, %Y" }}</span> -->
                    <div class="row">
                        <div class="col col-md-5">
                            <a href="{{ post.url }}" class="post-title">{{ post.title }}</a>
                            <p class="posts-list-date">Posted on {{ post.date | date: "%B %-d, %Y" }}</p>
                        </div>
                        <div class="col col-md-7 mac">
                            <p>{{ post.description }}</p>
                            <a href="{{ post.url }}">Read {{ post.title }} &rarr;</a>
                        </div>
                    </div>
                </li>
                {% endunless %}
                {% endfor %}
            </ul>
        </div>
    </div>


    <br /><br />
</section>
