---
layout: default
---
<body>
   <header class="tc">
      <!-- Browsing option -->
      {% if page.title == "blog" %}
         <h1><strong>A few words...</strong></h1>
         {% endif %}
   </header>
   <main>
      <div>
         <div>
            <div class="lead">
                 {% if page.title != "blog" %}
                 <h2><strong>{{ page.title }}</strong></h2>
                 {% endif %}
                  {% if page.cover %}
                  <figure><img class="cover" src="{{ page.cover }}">
                  <figcaption>{{ page.caption }}</figcaption></figure>
                  {% endif %}
                  <h1 class="mt0 lh-title cb mb2">
                     {% if is_post %}
                     {% endif %}
                  </h1>
               </div>
            <div>
               {{ content }}
               
               <br>
         </div>
   {% if page.comments %}
      <div id="disqus_thread"></div>
      <script>

      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

      var disqus_config = function () {
      this.page.url = "{{ site.url }}{{ post.url }}";  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = "{{ post.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://reangdeba.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
   {% endif %}
 </div>
    </div>
   </main>
   <script src="https://res.cloudinary.com/reangdeba/raw/upload/v1537725418/prism.js"></script>
</body>
</html>
