---
layout: default
---
<div class="container">
    <div class="post-container">
        <h1>Bookshelf</h1>
        <p><a href="/reads/wishlist"><code>$ cd wishlist</code></a></p>
        <p>
            I read about 150 words per minute (wpm) as per this <a href="https://www.myreadspeed.com/">website</a>. My personal <a href="https://www.goodreads.com/user_challenges/21227074"></a>goal for 2020 is to read <b>50</b> books. Let's see how far I can get by the end of the year. I also plan to write a summary of my readings by the end of the year.
        </p>
        <p><a href="https://www.goodreads.com/user/show/53163185-debashish-reang">Here</a> is the link to my Goodreads profile. The Goodreads profile is updated (slightly) more frequently than this page. Nowadays, I mostly read on my Kindle and listen to audiobooks on Audible.
        </p>
        <br>
        {% for book in site.data.books %}
        <a href="{{ book.link }}" target="_blank">
            <div class="row">
                <div class="col col-sm-2">
                    <img class="book-cover" src="/assets/images/book_covers/{{ book.image_name }}"
                        alt="Cover of {{ book.title }}">
                </div>
                <div class="col col-sm-3 p-1">
                    <h5>{{ book.title }}</h5>
                    <p>{{ book.author }}</p>
                    <span class="a_{{book.id}}">
                        <div class="stars-outer">
                            <div class="stars-inner"></div>
                        </div>
                    </span>
                </div>
            </div>
        </a>
        <br>
        {% endfor %}
    </div>
</div>

<script>
    const starTotal = 5;

    {% for book in site.data.books %}
    const rating_{{book.id}} = {{ book.rating }};
    const starPercentage_{{book.id}} = (rating_{{book.id}} / starTotal) * 100;
    const starPercentageRounded_{{book.id}} = `${(Math.round(starPercentage_{{book.id}} / 10) * 10)}%`;
    document.querySelector(`.a_{{book.id}} .stars-inner`).style.width = starPercentageRounded_{{book.id}};
    {% endfor %}

</script>